/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  transition: color 250ms ease-in;
}
a:hover {
  color: #d4c17f;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--sm {
  max-width: 840px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-secondary {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  color: #d4c17f;
}
@media screen and (max-width: 959px) {
  .title-secondary {
    font-size: 26px;
  }
}

.link-bold {
  color: #d4c17f;
  font-weight: 700;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  min-height: 840px;
  padding: 30px 0 74px;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("../assets/img/header/header-bg.jpg"), lightgray 50%/cover no-repeat;
}
@media screen and (max-width: 959px) {
  .header {
    min-height: unset;
    padding: 22px 0 64px;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top--mobile {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-y: hidden;
  background-color: #242b33;
}
.header__top--mobile.header__top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.header__top--mobile .header__nav {
  display: flex;
}
.header__top--mobile .header__nav-list {
  flex-direction: column;
  text-align: center;
}
.header__top--mobile .header__nav-button {
  position: absolute;
  top: 30px;
  right: 30px;
}

@media screen and (max-width: 959px) {
  .header__nav {
    display: none;
  }
}

.header__nav-button {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__nav-button {
    display: block;
  }
}

.header__nav-list {
  display: flex;
  gap: 40px;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.header__title {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  color: #d4c17f;
}
.header__title h1 {
  margin-bottom: 81px;
}
@media screen and (max-width: 959px) {
  .header__title {
    padding-top: 110px;
    padding-bottom: 110px;
    font-size: 32px;
  }
  .header__title h1 {
    margin-bottom: 40px;
  }
}

.header__bottom {
  display: grid;
  grid-template-columns: 260px 256px;
  gap: 98px;
  justify-content: center;
  font-size: 18px;
}
@media screen and (max-width: 959px) {
  .header__bottom {
    grid-template-columns: 260px;
    gap: 18px;
  }
}

.header__bottom-link {
  position: relative;
  padding-left: 35px;
}
.header__bottom-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background-image: url("../assets/svg/header/map.svg");
  background-repeat: no-repeat;
}
.header__bottom-link--tel::before {
  background-image: url("../../assets/svg/header/phone.svg");
}
.header__bottom-link--map {
  text-align: right;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 30px;
  --height: 20px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.benefits {
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  transform: translate(-50%, 0);
  line-height: 1.15;
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 400px;
}
@media screen and (max-width: 959px) {
  .benefits {
    padding: 60px 0;
  }
}

.benefits__list {
  display: flex;
  gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 45px;
  }
}

.benefits__item {
  text-align: center;
}

.benefits__item-image {
  margin-bottom: 53px;
}
@media screen and (max-width: 959px) {
  .benefits__item-image {
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
  }
}

.benefits__item-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
}
@media screen and (max-width: 959px) {
  .benefits__item-text {
    font-size: 16px;
  }
}

.apartments {
  position: relative;
}
.apartments::before {
  content: "III";
  right: calc(50% + 555px);
  transform: translate(50%, 0);
  line-height: 1;
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 400px;
}

.apartments__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .apartments__title {
    margin-bottom: 44px;
  }
}

.apartments__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .apartments__gallery {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.apartments__gallery-link {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.apartments__gallery-link::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}
.apartments__gallery-link::after {
  content: "";
  opacity: 0;
  position: absolute;
  z-index: 7;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 250ms ease-in;
}
.apartments__gallery-link:hover::after {
  opacity: 1;
}
.apartments__gallery-link:hover {
  color: #fff;
}

.apartments__gallery-link:hover .apartments__gallery-image {
  transform: scale(1.1);
  filter: brightness(1.2) contrast(110%);
}

.apartments__gallery-image {
  position: relative;
  z-index: 5;
  transition: transform 300ms ease-in, filter 300ms ease-in;
}

.apartments__gallery-title {
  position: absolute;
  z-index: 8;
  left: 50px;
  bottom: 44px;
  font-size: 24px;
}
@media screen and (max-width: 959px) {
  .apartments__gallery-title {
    font-size: 16px;
    left: 35px;
    bottom: 38px;
  }
}

.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url("/src/assets/img/cta/cta-bg.jpg"), #c4c4c4;
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 60px 0;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 1.5;
}
@media screen and (max-width: 959px) {
  .cta__text {
    font-size: 14px;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}
@media screen and (max-width: 959px) {
  .cta__form {
    grid-template-columns: repeat(auto-fit, minmax(290px, 500px));
    justify-content: center;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.203);
  font-size: 14px;
  transition: background-color 250ms ease-in;
}
.form__input::-moz-placeholder {
  color: #bebebe;
}
.form__input::placeholder {
  color: #bebebe;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.253);
}

.form__privacy {
  font-size: 13px;
  line-height: 1.2;
  color: #e7e7e7;
  text-align: center;
  align-self: center;
}

.form__button {
  height: 50px;
  padding: 12px;
  background-color: #d4c17f;
  text-align: center;
  font-weight: 700;
  transition: background-color 250ms ease-in;
}
.form__button:hover {
  background-color: #ddc676;
}

.video {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  transform: translate(-50%, 0);
  line-height: 1.15;
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 400px;
}

.video__link {
  position: relative;
  display: inline-block;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background-color 250ms ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 250ms ease-in;
}
@media screen and (max-width: 959px) {
  .video__icon {
    width: 70px;
    height: 70px;
  }
}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.2);
}

.section-map {
  position: relative;
  padding: 180px 0;
}
.section-map::before {
  content: "V";
  z-index: -1;
  right: calc(50% + 555px);
  transform: translate(50%, 0);
  line-height: 1;
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  top: 160px;
}
@media screen and (max-width: 959px) {
  .section-map {
    padding: 90px 0;
  }
}

.section-map__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .section-map__title {
    margin-bottom: 44px;
  }
}

.map {
  height: 358px;
  background: #626262;
}

.feedback {
  padding-bottom: 180px;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding-bottom: 90px;
  }
}

.feedback__title {
  margin-bottom: 38px;
}
@media screen and (max-width: 959px) {
  .feedback__title {
    margin-bottom: 28px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .feedback__form {
    grid-template-columns: repeat(auto-fit, minmax(290px, 500px));
    justify-content: center;
  }
}

.footer {
  padding: 72px 0 51px;
  background-color: #2d343c;
}
@media screen and (max-width: 959px) {
  .footer {
    padding: 35px 0 25px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  font-size: 14px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 959px) {
  .footer__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
  }
}

.footer-logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__contacts-social {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  align-items: center;
}/*# sourceMappingURL=main.css.map */